.sidebar{
    width:270px;
    min-height:100vh;
    background:#fff;
    border-right:1px solid #ececec;
    padding:20px;
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo h2{
    color:#22C55E;
    margin:0;
}

.search-box{
    margin-bottom:25px;
}

.search-box input{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
}

.menu-title{
    display:block;
    color:#999;
    font-size:12px;
    margin-bottom:15px;
    text-transform:uppercase;
}

.menu-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-decoration:none;
    color:#555;
    padding:12px 15px;
    border-radius:10px;
    margin-bottom:8px;
    transition:.3s;
    background:none;
    border:none;
    width:100%;
    cursor:pointer;
}

.menu-left{
    display:flex;
    align-items:center;
    gap:12px;
}

.menu-item:hover,
.menu-item.active{
    background:#22C55E;
    color:#fff;
}

.submenu{
    margin-left:40px;
    margin-bottom:10px;
}

.submenu-item{
    display:block;
    text-decoration:none;
    color:#666;
    padding:8px 0;
}

.submenu-item.active{
    color:#22C55E;
    font-weight:600;
}

@media(max-width:768px){
    .sidebar{
        width:220px;
    }
}
